Here we are importing numpy as np,pandas as pd ,matplotlib.pyplot as plot and seaborn as sb for data analysis

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sb

Now we are reading the datavalues in the file using read_csv with an encoding "utf-8" but we can also use "latin1" too
if we use head for printing, the first five values in the dataset will be visible as default but we can also change the default
number by entering the some value based on our interest i.e first 10 or 100 etc.
We can also use tail for the values which will start from the end.

In [ ]:
data = pd.read_csv('Diabetes.csv',encoding='utf-8')
data.head(10)

In [6]:
# WE ARE CREATING AN OUTPUT COLUMN AND GIVING A CONDITION BASED ON THE RANGE OF GLUCOSE VALUES
data['Output'] = data['Glucose'].apply(lambda y: 'diabetic' if y > 130 else 'prediabetic' if y > 90 and y<=130 else 'normal' if y>70 else 'diabetic')
data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Output
0,6,148,72,35,0,33.6,0.627,50,1,diabetic
1,1,85,66,29,0,26.6,0.351,31,0,normal
2,8,183,64,0,0,23.3,0.672,32,1,diabetic
3,1,89,66,23,94,28.1,0.167,21,0,normal
4,0,137,40,35,168,43.1,2.288,33,1,diabetic
5,5,116,74,0,0,25.6,0.201,30,0,prediabetic
6,3,78,50,32,88,31.0,0.248,26,1,normal
7,10,115,0,0,0,35.3,0.134,29,0,prediabetic
8,2,197,70,45,543,30.5,0.158,53,1,diabetic
9,8,125,96,0,0,0.0,0.232,54,1,prediabetic

In [7]:
# WE ARE CONVERTING THE RESULT VALUES FROM STRINGS TO INTEGERS IN THE OUTPUT COLUMN (NORMAL TO 0 etc.) 
data['Output'] = data['Output'].replace(['normal','prediabetic','diabetic'],[0,1,2])
data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Output
0,6,148,72,35,0,33.6,0.627,50,1,2
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,2
3,1,89,66,23,94,28.1,0.167,21,0,0
4,0,137,40,35,168,43.1,2.288,33,1,2
5,5,116,74,0,0,25.6,0.201,30,0,1
6,3,78,50,32,88,31.0,0.248,26,1,0
7,10,115,0,0,0,35.3,0.134,29,0,1
8,2,197,70,45,543,30.5,0.158,53,1,2
9,8,125,96,0,0,0.0,0.232,54,1,1

Now we are converting the above dataframe into a new csv file called "diabetes2.csv"

In [8]:
data.to_csv('diabetes2.csv',index=False, header=True)

Now we are printing data where we print a dataframe with glucose and output columns only from "diabetes2.csv"

In [9]:
data = data[['Glucose','Output']]
data.head(10)

   Glucose  Output
0      148       2
1       85       0
2      183       2
3       89       0
4      137       2
5      116       1
6       78       0
7      115       1
8      197       2
9      125       1

We are describing the data and printing it where glucose values are not equal to zero

In [10]:
data.describe()

          Glucose      Output
count  768.000000  768.000000
mean   120.894531    1.218750
std     31.972618    0.655187
min      0.000000    0.000000
25%     99.000000    1.000000
50%    117.000000    1.000000
75%    140.250000    2.000000
max    199.000000    2.000000

Now we are creating another csv file called "diabetestest2.csv" and reading it

In [11]:
data.to_csv('diabetestest2.csv',index=False, header= True)
data.head(10)

   Glucose  Output
0      148       2
1       85       0
2      183       2
3       89       0
4      137       2
5      116       1
6       78       0
7      115       1
8      197       2
9      125       1

In [12]:
data = pd.read_csv('diabetes2.csv',encoding='latin1')
data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Output
0,6,148,72,35,0,33.6,0.627,50,1,2
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,2
3,1,89,66,23,94,28.1,0.167,21,0,0
4,0,137,40,35,168,43.1,2.288,33,1,2
5,5,116,74,0,0,25.6,0.201,30,0,1
6,3,78,50,32,88,31.0,0.248,26,1,0
7,10,115,0,0,0,35.3,0.134,29,0,1
8,2,197,70,45,543,30.5,0.158,53,1,2
9,8,125,96,0,0,0.0,0.232,54,1,1

In [13]:
# We are printing tail values(starting from the end) for data dataframe.
data = data[['Glucose','Insulin','Output']]
data.head(10)

   Glucose  Insulin  Output
0      148        0       2
1       85        0       0
2      183        0       2
3       89       94       0
4      137      168       2
5      116        0       1
6       78       88       0
7      115        0       1
8      197      543       2
9      125        0       1

Now we want to create a csv file where we give a condition (Glucose and Insulin values not equal to zero)

In [14]:
data = data[data['Insulin'] != 0]
data = data[data['Insulin'] != 0]

In [96]:
data.to_csv("diabetesNonzero.csv",index=False)
data

     Glucose  Insulin  Output
3         89       94       0
4        137      168       2
6         78       88       0
8        197      543       2
13       189      846       2
..       ...      ...     ...
753      181      510       2
755      128      110       1
760       88       16       0
763      101      180       1
765      121      112       1

[394 rows x 3 columns]

In [15]:
# We are describing the data from diabetesnonzero csv file which prints statiscal data
data.describe()

          Glucose     Insulin      Output
count  394.000000  394.000000  394.000000
mean   122.304569  155.548223    1.210660
std     31.396725  118.775855    0.664466
min      0.000000   14.000000    0.000000
25%     99.000000   76.250000    1.000000
50%    119.000000  125.000000    1.000000
75%    143.000000  190.000000    2.000000
max    198.000000  846.000000    2.000000

##  Machine Learning part

sklearn also called scikit-learn is a ML Library which include tools like classification,regression,clustering etc. The ML learning methods like random forest, decision trees can be explained and analyzed using sklearn

We use model_selection when we want to split arrays into train and test subsets. Split ratio is used to split the labeled data into train and test data and split ratio = 0.2 refers to 80 percent training data and 20 percent testing data. 
We use train_test_split to evaluate performance of the machine learning algorithm.

In [17]:
# Here we are using model selection and importing train test split for evaluating the ML model
# shape explains the size of the dataset which is creating after splitting(rows,columns)

Here we are taking x_train as train columns other than Insulin in "data" and y_train as Insulin and for x_test we are taking test columns from columns other than Insulin and y_test for columns which are values of Insulin in test columns and we are printing shapes of each training and test dataset

In [18]:
from sklearn.model_selection import train_test_split as tts
splitRatio = 0.2
train, test = tts(data,test_size = splitRatio,random_state = 10)
x_train = train[[x for x in train.columns if x not in ['Insulin']]]
y_train = train[['Insulin']]
x_test = test[[x for x in test.columns if x not in ['Insulin']]]
y_test = test[['Insulin']]
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(315, 2)
(315, 1)
(79, 2)
(79, 1)

In [19]:
# Now we are importing Linear Regression from linear model and accuracy score from sklearn_metrics

In [20]:
# We are using LinearRegression method to make a prediction
# We are fitting the training sets using Linear regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
models = LinearRegression()
models.fit(x_train,y_train)

LinearRegression()

In [21]:
prediction = models.predict(x_test)

In [22]:
new_df = pd.read_csv('diabetestest2.csv',encoding='latin1')
prediction = models.predict(new_df)
prediction
# The output are the predicted values in decimal(float)

array([[ 222.95457822],
       [  69.17466757],
       [ 300.52341163],
       [  78.03967711],
       [ 198.57580201],
       [ 144.95649671],
       [  53.66090089],
       [ 142.74024432],
       [ 331.550945  ],
       [ 164.90276815],
       [ 131.65898241],
       [ 267.27962589],
       [ 203.00830678],
       [ 313.82092593],
       [ 262.84712112],
       [ 109.49645858],
       [ 149.38900147],
       [ 125.01022526],
       [ 116.14521573],
       [ 142.74024432],
       [ 167.11902054],
       [ 107.28020619],
       [ 329.33469261],
       [ 151.60525386],
       [ 211.87331631],
       [ 164.90276815],
       [ 220.73832584],
       [ 102.84770143],
       [ 216.30582107],
       [ 147.17274909],
       [ 129.44273002],
       [ 245.11710205],
       [  75.82342472],
       [  91.76643951],
       [ 158.25401101],
       [ 116.14521573],
       [ 200.79205439],
       [ 113.92896334],
       [  80.25592949],
       [ 133.87523479],
       [ 293.87465448],
       [ 189.71079248],
       [ 122.79397288],
       [ 273.92838304],
       [ 247.33335444],
       [ 293.87465448],
       [ 218.52207346],
       [  38.14713421],
       [ 116.14521573],
       [ 120.57772049],
       [ 116.14521573],
       [ 111.71271096],
       [  75.82342472],
       [ 285.00964495],
       [ 227.38708299],
       [  42.57963898],
       [ 309.38842117],
       [ 109.49645858],
       [ 218.52207346],
       [ 120.57772049],
       [  66.95841519],
       [ 189.71079248],
       [  -7.53566962],
       [ 207.44081154],
       [ 140.52399194],
       [ 107.28020619],
       [ 129.44273002],
       [ 129.44273002],
       [  98.41519666],
       [ 218.52207346],
       [ 109.49645858],
       [ 203.00830678],
       [ 167.11902054],
       [ 173.76777769],
       [  55.87715327],
       [-105.05077448],
       [  32.35687327],
       [  98.41519666],
       [ 185.27828771],
       [ 136.09148717],
       [ 138.30773956],
       [  44.79589136],
       [  64.74216281],
       [ 111.71271096],
       [ 198.57580201],
       [ 131.65898241],
       [ 122.79397288],
       [ 109.49645858],
       [ 196.35954963],
       [ 125.01022526],
       [  58.09340566],
       [ 160.47026339],
       [  60.30965804],
       [ 191.92704486],
       [ 209.65706392],
       [ 214.08956869],
       [  91.76643951],
       [  38.14713421],
       [  93.98269189],
       [ 158.25401101],
       [ 256.19836397],
       [ 229.60333537],
       [ 164.90276815],
       [  60.30965804],
       [  69.17466757],
       [ 167.11902054],
       [ 100.63144904],
       [ 214.08956869],
       [  64.74216281],
       [  98.41519666],
       [ 273.92838304],
       [ 238.46834491],
       [  78.03967711],
       [  49.22839612],
       [ 249.54960682],
       [ 218.52207346],
       [ 162.68651577],
       [  53.66090089],
       [ 102.84770143],
       [ 107.28020619],
       [ 253.98211159],
       [ 133.87523479],
       [ 125.01022526],
       [ 187.49454009],
       [ 138.30773956],
       [  75.82342472],
       [ 153.82150624],
       [ 149.38900147],
       [ 147.17274909],
       [ 120.57772049],
       [ 278.3608878 ],
       [ 158.25401101],
       [ 271.71213065],
       [  66.95841519],
       [ 100.63144904],
       [ 164.90276815],
       [ 109.49645858],
       [  93.98269189],
       [ 173.76777769],
       [ 120.57772049],
       [ 171.5515253 ],
       [ 122.79397288],
       [ 127.22647764],
       [ 127.22647764],
       [ 236.25209252],
       [ 113.92896334],
       [  21.27561136],
       [ 122.79397288],
       [ 220.73832584],
       [  80.25592949],
       [ 196.35954963],
       [ 140.52399194],
       [ 240.68459729],
       [ 234.03584014],
       [ 311.60467355],
       [ 231.81958776],
       [ 107.28020619],
       [ 129.44273002],
       [  75.82342472],
       [ 256.19836397],
       [ 229.60333537],
       [ 113.92896334],
       [ 140.52399194],
       [ 109.49645858],
       [ 185.27828771],
       [ 118.36146811],
       [ 222.95457822],
       [ 153.82150624],
       [ 131.65898241],
       [ 133.87523479],
       [ 113.92896334],
       [ 191.92704486],
       [  73.60717234],
       [  55.87715327],
       [  47.01214374],
       [ 291.6584021 ],
       [  69.17466757],
       [ 173.76777769],
       [ 211.87331631],
       [ 175.98403007],
       [  73.60717234],
       [ 151.60525386],
       [-105.05077448],
       [  42.57963898],
       [ 207.44081154],
       [ 324.90218785],
       [ 296.09090687],
       [ 171.5515253 ],
       [ 129.44273002],
       [ 203.00830678],
       [ 133.87523479],
       [ 160.47026339],
       [ 247.33335444],
       [ 194.14329724],
       [  69.17466757],
       [ 245.11710205],
       [ 120.57772049],
       [ 125.01022526],
       [ 129.44273002],
       [ 222.95457822],
       [ 138.30773956],
       [ 200.79205439],
       [ 127.22647764],
       [ 107.28020619],
       [ 116.14521573],
       [ 133.87523479],
       [ 329.33469261],
       [ 253.98211159],
       [ 100.63144904],
       [ 302.73966402],
       [  60.30965804],
       [ 220.73832584],
       [ 291.6584021 ],
       [ 205.22455916],
       [ 136.09148717],
       [ 229.60333537],
       [ 129.44273002],
       [ 164.90276815],
       [  69.17466757],
       [ 136.09148717],
       [ 287.22589733],
       [ 245.11710205],
       [ 151.60525386],
       [ 209.65706392],
       [ 109.49645858],
       [  73.60717234],
       [ 111.71271096],
       [ 253.98211159],
       [ 331.550945  ],
       [ 147.17274909],
       [ 209.65706392],
       [ 191.92704486],
       [  55.87715327],
       [ 158.25401101],
       [  44.79589136],
       [ 273.92838304],
       [ 296.09090687],
       [ 291.6584021 ],
       [ 258.41461635],
       [ 118.36146811],
       [  89.55018713],
       [  89.55018713],
       [ 203.00830678],
       [ 151.60525386],
       [ 218.52207346],
       [ 302.73966402],
       [ 158.25401101],
       [ 260.63086874],
       [ 162.68651577],
       [ 133.87523479],
       [ 122.79397288],
       [ 173.76777769],
       [  80.25592949],
       [  71.39091996],
       [  91.76643951],
       [ 138.30773956],
       [ 133.87523479],
       [ 140.52399194],
       [ 322.68593546],
       [ 238.46834491],
       [ 318.2534307 ],
       [ 207.44081154],
       [  98.41519666],
       [ 209.65706392],
       [ 160.47026339],
       [ 100.63144904],
       [ 200.79205439],
       [ 171.5515253 ],
       [ 113.92896334],
       [ 218.52207346],
       [ 111.71271096],
       [ 127.22647764],
       [ 158.25401101],
       [  38.14713421],
       [ 122.79397288],
       [ 109.49645858],
       [ 122.79397288],
       [ 118.36146811],
       [ 140.52399194],
       [ 127.22647764],
       [ 218.52207346],
       [ 173.76777769],
       [ 189.71079248],
       [ 251.7658592 ],
       [ 127.22647764],
       [ 196.35954963],
       [ 238.46834491],
       [ 151.60525386],
       [ 100.63144904],
       [ 127.22647764],
       [  53.66090089],
       [ 125.01022526],
       [ 171.5515253 ],
       [ 171.5515253 ],
       [ 251.7658592 ],
       [ 229.60333537],
       [ 218.52207346],
       [ 167.11902054],
       [ 109.49645858],
       [ 136.09148717],
       [ 265.0633735 ],
       [ 214.08956869],
       [  51.44464851],
       [ 142.74024432],
       [ 227.38708299],
       [ 153.82150624],
       [ 251.7658592 ],
       [ 198.57580201],
       [ 171.5515253 ],
       [ 162.68651577],
       [  58.09340566],
       [ 122.79397288],
       [ 238.46834491],
       [ 138.30773956],
       [ 129.44273002],
       [ 136.09148717],
       [ 107.28020619],
       [ 298.30715925],
       [ 142.74024432],
       [ 324.90218785],
       [ 173.76777769],
       [ 136.09148717],
       [ 162.68651577],
       [ 231.81958776],
       [ 136.09148717],
       [ 242.90084967],
       [ 158.25401101],
       [ 291.6584021 ],
       [ 113.92896334],
       [ 120.57772049],
       [ 149.38900147],
       [  73.60717234],
       [ 293.87465448],
       [ 122.79397288],
       [  98.41519666],
       [ 260.63086874],
       [ 147.17274909],
       [ 142.74024432],
       [ 231.81958776],
       [ 289.44214972],
       [ 175.98403007],
       [  98.41519666],
       [-105.05077448],
       [ 158.25401101],
       [  98.41519666],
       [ 167.11902054],
       [ 203.00830678],
       [ 144.95649671],
       [ 107.28020619],
       [-105.05077448],
       [  91.76643951],
       [ 198.57580201],
       [  30.14062089],
       [  80.25592949],
       [  80.25592949],
       [ 260.63086874],
       [ 164.90276815],
       [ 173.76777769],
       [  75.82342472],
       [ 329.33469261],
       [ 313.82092593],
       [ 245.11710205],
       [ 116.14521573],
       [ 218.52207346],
       [ 220.73832584],
       [ 107.28020619],
       [ 162.68651577],
       [ 111.71271096],
       [  60.30965804],
       [ 189.71079248],
       [ 278.3608878 ],
       [ 149.38900147],
       [  66.95841519],
       [ 120.57772049],
       [ 158.25401101],
       [ 205.22455916],
       [ 105.06395381],
       [  73.60717234],
       [ 240.68459729],
       [  93.98269189],
       [ 125.01022526],
       [ 120.57772049],
       [ 129.44273002],
       [  80.25592949],
       [ 164.90276815],
       [ 151.60525386],
       [ 144.95649671],
       [ 120.57772049],
       [ 214.08956869],
       [ 109.49645858],
       [ 109.49645858],
       [ 262.84712112],
       [ 185.27828771],
       [ 144.95649671],
       [ 245.11710205],
       [ 169.33527292],
       [ 100.63144904],
       [ 185.27828771],
       [  62.52591042],
       [ 322.68593546],
       [  98.41519666],
       [ 198.57580201],
       [ 196.35954963],
       [  40.36338659],
       [ 267.27962589],
       [ 160.47026339],
       [ 142.74024432],
       [ 111.71271096],
       [ 331.550945  ],
       [ 276.14463542],
       [ 113.92896334],
       [ 136.09148717],
       [ 211.87331631],
       [ 211.87331631],
       [ 200.79205439],
       [ 278.3608878 ],
       [ 102.84770143],
       [ 214.08956869],
       [  64.74216281],
       [ 173.76777769],
       [ 151.60525386],
       [  96.19894428],
       [ 113.92896334],
       [ 142.74024432],
       [ 229.60333537],
       [ 302.73966402],
       [  96.19894428],
       [ 296.09090687],
       [ 194.14329724],
       [  98.41519666],
       [ 107.28020619],
       [  78.03967711],
       [  58.09340566],
       [ 203.00830678],
       [  80.25592949],
       [ 207.44081154],
       [ 205.22455916],
       [ 220.73832584],
       [ 102.84770143],
       [ 125.01022526],
       [ 313.82092593],
       [  64.74216281],
       [ 147.17274909],
       [ 127.22647764],
       [ 147.17274909],
       [ 293.87465448],
       [ 109.49645858],
       [  98.41519666],
       [ 118.36146811],
       [ 153.82150624],
       [  62.52591042],
       [ 191.92704486],
       [  89.55018713],
       [ 151.60525386],
       [ 109.49645858],
       [ 282.79339257],
       [ 194.14329724],
       [  71.39091996],
       [ 222.95457822],
       [ 191.92704486],
       [ 153.82150624],
       [  38.14713421],
       [  44.79589136],
       [  75.82342472],
       [ 142.74024432],
       [ 162.68651577],
       [  44.79589136],
       [ 102.84770143],
       [ 153.82150624],
       [ 236.25209252],
       [ 214.08956869],
       [ 198.57580201],
       [ 151.60525386],
       [ 196.35954963],
       [ 140.52399194],
       [ 198.57580201],
       [ 120.57772049],
       [ 140.52399194],
       [ 167.11902054],
       [ 187.49454009],
       [ 245.11710205],
       [ 160.47026339],
       [  69.17466757],
       [  66.95841519],
       [ 216.30582107],
       [ 194.14329724],
       [ 203.00830678],
       [ 278.3608878 ],
       [ 107.28020619],
       [ 324.90218785],
       [  64.74216281],
       [  78.03967711],
       [ 107.28020619],
       [ 164.90276815],
       [  58.09340566],
       [ 262.84712112],
       [ 131.65898241],
       [  60.30965804],
       [ 327.11844023],
       [ 236.25209252],
       [ 147.17274909],
       [  66.95841519],
       [-105.05077448],
       [  96.19894428],
       [ 100.63144904],
       [  47.01214374],
       [ 293.87465448],
       [ 175.98403007],
       [  66.95841519],
       [ 153.82150624],
       [  66.95841519],
       [ 203.00830678],
       [  89.55018713],
       [  89.55018713],
       [ 107.28020619],
       [ 256.19836397],
       [ 216.30582107],
       [ 164.90276815],
       [  49.22839612],
       [ 173.76777769],
       [  45.65438757],
       [ 162.68651577],
       [ 140.52399194],
       [ 175.98403007],
       [ 164.90276815],
       [  73.60717234],
       [ 102.84770143],
       [ 144.95649671],
       [ 147.17274909],
       [ 133.87523479],
       [ 158.25401101],
       [ 125.01022526],
       [  71.39091996],
       [  89.55018713],
       [  51.44464851],
       [ 187.49454009],
       [ 120.57772049],
       [  21.27561136],
       [ 169.33527292],
       [ 173.76777769],
       [ 109.49645858],
       [ 171.5515253 ],
       [  80.25592949],
       [  66.95841519],
       [  75.82342472],
       [ 307.17216878],
       [ 309.38842117],
       [ 185.27828771],
       [ 258.41461635],
       [ 313.82092593],
       [ 144.95649671],
       [  66.95841519],
       [ 140.52399194],
       [  75.82342472],
       [  66.95841519],
       [ 162.68651577],
       [ 102.84770143],
       [ 131.65898241],
       [ 116.14521573],
       [  69.17466757],
       [ 164.90276815],
       [ 333.76719738],
       [  73.60717234],
       [ 107.28020619],
       [  89.55018713],
       [  98.41519666],
       [ 107.28020619],
       [  91.76643951],
       [ 236.25209252],
       [ 156.03775862],
       [  53.66090089],
       [ 175.98403007],
       [ 133.87523479],
       [ 105.06395381],
       [ 211.87331631],
       [ 151.60525386],
       [ 127.22647764],
       [ 149.38900147],
       [ 189.71079248],
       [ 331.550945  ],
       [ 229.60333537],
       [ 129.44273002],
       [ 156.03775862],
       [ 109.49645858],
       [ 162.68651577],
       [  93.98269189],
       [ 211.87331631],
       [ 116.14521573],
       [ 285.00964495],
       [  42.57963898],
       [ 133.87523479],
       [ 136.09148717],
       [ 187.49454009],
       [  62.52591042],
       [ 160.47026339],
       [ 311.60467355],
       [  43.43813519],
       [  78.03967711],
       [ 278.3608878 ],
       [ 129.44273002],
       [ 127.22647764],
       [ 100.63144904],
       [ 162.68651577],
       [ 227.38708299],
       [ 300.52341163],
       [ 162.68651577],
       [ 296.09090687],
       [  91.76643951],
       [ 231.81958776],
       [ 133.87523479],
       [ 122.79397288],
       [ 280.57714018],
       [ 267.27962589],
       [ 120.57772049],
       [ 200.79205439],
       [ 122.79397288],
       [ 147.17274909],
       [  45.65438757],
       [ 136.09148717],
       [ 151.60525386],
       [ 136.09148717],
       [  91.76643951],
       [ 300.52341163],
       [  96.19894428],
       [ 127.22647764],
       [  80.25592949],
       [ 164.90276815],
       [ 187.49454009],
       [ 171.5515253 ],
       [  96.19894428],
       [ 140.52399194],
       [ 113.92896334],
       [ 133.87523479],
       [ 171.5515253 ],
       [  91.76643951],
       [ 118.36146811],
       [ 118.36146811],
       [  96.19894428],
       [ 102.84770143],
       [ 109.49645858],
       [ 113.92896334],
       [ 171.5515253 ],
       [ 220.73832584],
       [  80.25592949],
       [ 116.14521573],
       [ 242.90084967],
       [ 265.0633735 ],
       [ 291.6584021 ],
       [ 196.35954963],
       [ 125.01022526],
       [  89.55018713],
       [ 147.17274909],
       [ 160.47026339],
       [ 153.82150624],
       [ 122.79397288],
       [ 238.46834491],
       [ 111.71271096],
       [ 153.82150624],
       [ 169.33527292],
       [  58.09340566],
       [ 253.98211159],
       [ 335.98344976],
       [ 265.0633735 ],
       [ 216.30582107],
       [ 142.74024432],
       [ 136.09148717],
       [ 216.30582107],
       [ 133.87523479],
       [ 105.06395381],
       [ 236.25209252],
       [ 260.63086874],
       [ 107.28020619],
       [  45.65438757],
       [ 160.47026339],
       [  89.55018713],
       [ 327.11844023],
       [ 240.68459729],
       [  93.98269189],
       [ 156.03775862],
       [ 111.71271096],
       [  19.05935898],
       [ 253.98211159],
       [  98.41519666],
       [ 164.90276815],
       [ 196.35954963],
       [ 173.76777769],
       [ 175.98403007],
       [ 125.01022526],
       [ 205.22455916],
       [ 214.08956869],
       [ 125.01022526],
       [ 245.11710205],
       [ 156.03775862],
       [ 173.76777769],
       [  80.25592949],
       [ 209.65706392],
       [ 269.49587827],
       [ 107.28020619],
       [ 169.33527292],
       [ 149.38900147],
       [ 158.25401101],
       [ 164.90276815],
       [ 267.27962589],
       [ 173.76777769],
       [ 131.65898241],
       [  58.09340566],
       [ 142.74024432],
       [ 169.33527292],
       [ 258.41461635],
       [  93.98269189],
       [ 245.11710205],
       [ 167.11902054],
       [ 173.76777769],
       [ 191.92704486],
       [ 113.92896334],
       [ 309.38842117],
       [ 278.3608878 ],
       [  96.19894428],
       [ 127.22647764],
       [ 102.84770143],
       [  64.74216281],
       [ 140.52399194],
       [ 225.17083061],
       [ 147.17274909],
       [ 133.87523479],
       [ 136.09148717],
       [ 144.95649671],
       [ 207.44081154],
       [ 282.79339257],
       [  91.76643951],
       [ 175.98403007],
       [ 153.82150624],
       [ 280.57714018],
       [ 122.79397288],
       [ 120.57772049],
       [  98.41519666],
       [ 167.11902054],
       [  39.00563042],
       [ 107.28020619],
       [ 113.92896334],
       [ 153.82150624],
       [ 113.92896334],
       [ 129.44273002],
       [ 205.22455916],
       [ 234.03584014],
       [ 109.49645858],
       [ 220.73832584],
       [  60.30965804],
       [ 309.38842117],
       [ 253.98211159],
       [ 196.35954963],
       [ 156.03775862],
       [ 127.22647764],
       [ 296.09090687],
       [ 236.25209252],
       [ 171.5515253 ],
       [ 198.57580201],
       [ 160.47026339],
       [ 122.79397288],
       [ 316.03717831],
       [  75.82342472],
       [ 271.71213065],
       [  78.03967711],
       [ 111.71271096],
       [ 158.25401101],
       [ 156.03775862],
       [ 167.11902054],
       [  93.98269189]])

In [23]:
prediction = prediction.astype(int)
prediction
# Now the prediction is converted to integer(rounded off)

array([[ 222],
       [  69],
       [ 300],
       [  78],
       [ 198],
       [ 144],
       [  53],
       [ 142],
       [ 331],
       [ 164],
       [ 131],
       [ 267],
       [ 203],
       [ 313],
       [ 262],
       [ 109],
       [ 149],
       [ 125],
       [ 116],
       [ 142],
       [ 167],
       [ 107],
       [ 329],
       [ 151],
       [ 211],
       [ 164],
       [ 220],
       [ 102],
       [ 216],
       [ 147],
       [ 129],
       [ 245],
       [  75],
       [  91],
       [ 158],
       [ 116],
       [ 200],
       [ 113],
       [  80],
       [ 133],
       [ 293],
       [ 189],
       [ 122],
       [ 273],
       [ 247],
       [ 293],
       [ 218],
       [  38],
       [ 116],
       [ 120],
       [ 116],
       [ 111],
       [  75],
       [ 285],
       [ 227],
       [  42],
       [ 309],
       [ 109],
       [ 218],
       [ 120],
       [  66],
       [ 189],
       [  -7],
       [ 207],
       [ 140],
       [ 107],
       [ 129],
       [ 129],
       [  98],
       [ 218],
       [ 109],
       [ 203],
       [ 167],
       [ 173],
       [  55],
       [-105],
       [  32],
       [  98],
       [ 185],
       [ 136],
       [ 138],
       [  44],
       [  64],
       [ 111],
       [ 198],
       [ 131],
       [ 122],
       [ 109],
       [ 196],
       [ 125],
       [  58],
       [ 160],
       [  60],
       [ 191],
       [ 209],
       [ 214],
       [  91],
       [  38],
       [  93],
       [ 158],
       [ 256],
       [ 229],
       [ 164],
       [  60],
       [  69],
       [ 167],
       [ 100],
       [ 214],
       [  64],
       [  98],
       [ 273],
       [ 238],
       [  78],
       [  49],
       [ 249],
       [ 218],
       [ 162],
       [  53],
       [ 102],
       [ 107],
       [ 253],
       [ 133],
       [ 125],
       [ 187],
       [ 138],
       [  75],
       [ 153],
       [ 149],
       [ 147],
       [ 120],
       [ 278],
       [ 158],
       [ 271],
       [  66],
       [ 100],
       [ 164],
       [ 109],
       [  93],
       [ 173],
       [ 120],
       [ 171],
       [ 122],
       [ 127],
       [ 127],
       [ 236],
       [ 113],
       [  21],
       [ 122],
       [ 220],
       [  80],
       [ 196],
       [ 140],
       [ 240],
       [ 234],
       [ 311],
       [ 231],
       [ 107],
       [ 129],
       [  75],
       [ 256],
       [ 229],
       [ 113],
       [ 140],
       [ 109],
       [ 185],
       [ 118],
       [ 222],
       [ 153],
       [ 131],
       [ 133],
       [ 113],
       [ 191],
       [  73],
       [  55],
       [  47],
       [ 291],
       [  69],
       [ 173],
       [ 211],
       [ 175],
       [  73],
       [ 151],
       [-105],
       [  42],
       [ 207],
       [ 324],
       [ 296],
       [ 171],
       [ 129],
       [ 203],
       [ 133],
       [ 160],
       [ 247],
       [ 194],
       [  69],
       [ 245],
       [ 120],
       [ 125],
       [ 129],
       [ 222],
       [ 138],
       [ 200],
       [ 127],
       [ 107],
       [ 116],
       [ 133],
       [ 329],
       [ 253],
       [ 100],
       [ 302],
       [  60],
       [ 220],
       [ 291],
       [ 205],
       [ 136],
       [ 229],
       [ 129],
       [ 164],
       [  69],
       [ 136],
       [ 287],
       [ 245],
       [ 151],
       [ 209],
       [ 109],
       [  73],
       [ 111],
       [ 253],
       [ 331],
       [ 147],
       [ 209],
       [ 191],
       [  55],
       [ 158],
       [  44],
       [ 273],
       [ 296],
       [ 291],
       [ 258],
       [ 118],
       [  89],
       [  89],
       [ 203],
       [ 151],
       [ 218],
       [ 302],
       [ 158],
       [ 260],
       [ 162],
       [ 133],
       [ 122],
       [ 173],
       [  80],
       [  71],
       [  91],
       [ 138],
       [ 133],
       [ 140],
       [ 322],
       [ 238],
       [ 318],
       [ 207],
       [  98],
       [ 209],
       [ 160],
       [ 100],
       [ 200],
       [ 171],
       [ 113],
       [ 218],
       [ 111],
       [ 127],
       [ 158],
       [  38],
       [ 122],
       [ 109],
       [ 122],
       [ 118],
       [ 140],
       [ 127],
       [ 218],
       [ 173],
       [ 189],
       [ 251],
       [ 127],
       [ 196],
       [ 238],
       [ 151],
       [ 100],
       [ 127],
       [  53],
       [ 125],
       [ 171],
       [ 171],
       [ 251],
       [ 229],
       [ 218],
       [ 167],
       [ 109],
       [ 136],
       [ 265],
       [ 214],
       [  51],
       [ 142],
       [ 227],
       [ 153],
       [ 251],
       [ 198],
       [ 171],
       [ 162],
       [  58],
       [ 122],
       [ 238],
       [ 138],
       [ 129],
       [ 136],
       [ 107],
       [ 298],
       [ 142],
       [ 324],
       [ 173],
       [ 136],
       [ 162],
       [ 231],
       [ 136],
       [ 242],
       [ 158],
       [ 291],
       [ 113],
       [ 120],
       [ 149],
       [  73],
       [ 293],
       [ 122],
       [  98],
       [ 260],
       [ 147],
       [ 142],
       [ 231],
       [ 289],
       [ 175],
       [  98],
       [-105],
       [ 158],
       [  98],
       [ 167],
       [ 203],
       [ 144],
       [ 107],
       [-105],
       [  91],
       [ 198],
       [  30],
       [  80],
       [  80],
       [ 260],
       [ 164],
       [ 173],
       [  75],
       [ 329],
       [ 313],
       [ 245],
       [ 116],
       [ 218],
       [ 220],
       [ 107],
       [ 162],
       [ 111],
       [  60],
       [ 189],
       [ 278],
       [ 149],
       [  66],
       [ 120],
       [ 158],
       [ 205],
       [ 105],
       [  73],
       [ 240],
       [  93],
       [ 125],
       [ 120],
       [ 129],
       [  80],
       [ 164],
       [ 151],
       [ 144],
       [ 120],
       [ 214],
       [ 109],
       [ 109],
       [ 262],
       [ 185],
       [ 144],
       [ 245],
       [ 169],
       [ 100],
       [ 185],
       [  62],
       [ 322],
       [  98],
       [ 198],
       [ 196],
       [  40],
       [ 267],
       [ 160],
       [ 142],
       [ 111],
       [ 331],
       [ 276],
       [ 113],
       [ 136],
       [ 211],
       [ 211],
       [ 200],
       [ 278],
       [ 102],
       [ 214],
       [  64],
       [ 173],
       [ 151],
       [  96],
       [ 113],
       [ 142],
       [ 229],
       [ 302],
       [  96],
       [ 296],
       [ 194],
       [  98],
       [ 107],
       [  78],
       [  58],
       [ 203],
       [  80],
       [ 207],
       [ 205],
       [ 220],
       [ 102],
       [ 125],
       [ 313],
       [  64],
       [ 147],
       [ 127],
       [ 147],
       [ 293],
       [ 109],
       [  98],
       [ 118],
       [ 153],
       [  62],
       [ 191],
       [  89],
       [ 151],
       [ 109],
       [ 282],
       [ 194],
       [  71],
       [ 222],
       [ 191],
       [ 153],
       [  38],
       [  44],
       [  75],
       [ 142],
       [ 162],
       [  44],
       [ 102],
       [ 153],
       [ 236],
       [ 214],
       [ 198],
       [ 151],
       [ 196],
       [ 140],
       [ 198],
       [ 120],
       [ 140],
       [ 167],
       [ 187],
       [ 245],
       [ 160],
       [  69],
       [  66],
       [ 216],
       [ 194],
       [ 203],
       [ 278],
       [ 107],
       [ 324],
       [  64],
       [  78],
       [ 107],
       [ 164],
       [  58],
       [ 262],
       [ 131],
       [  60],
       [ 327],
       [ 236],
       [ 147],
       [  66],
       [-105],
       [  96],
       [ 100],
       [  47],
       [ 293],
       [ 175],
       [  66],
       [ 153],
       [  66],
       [ 203],
       [  89],
       [  89],
       [ 107],
       [ 256],
       [ 216],
       [ 164],
       [  49],
       [ 173],
       [  45],
       [ 162],
       [ 140],
       [ 175],
       [ 164],
       [  73],
       [ 102],
       [ 144],
       [ 147],
       [ 133],
       [ 158],
       [ 125],
       [  71],
       [  89],
       [  51],
       [ 187],
       [ 120],
       [  21],
       [ 169],
       [ 173],
       [ 109],
       [ 171],
       [  80],
       [  66],
       [  75],
       [ 307],
       [ 309],
       [ 185],
       [ 258],
       [ 313],
       [ 144],
       [  66],
       [ 140],
       [  75],
       [  66],
       [ 162],
       [ 102],
       [ 131],
       [ 116],
       [  69],
       [ 164],
       [ 333],
       [  73],
       [ 107],
       [  89],
       [  98],
       [ 107],
       [  91],
       [ 236],
       [ 156],
       [  53],
       [ 175],
       [ 133],
       [ 105],
       [ 211],
       [ 151],
       [ 127],
       [ 149],
       [ 189],
       [ 331],
       [ 229],
       [ 129],
       [ 156],
       [ 109],
       [ 162],
       [  93],
       [ 211],
       [ 116],
       [ 285],
       [  42],
       [ 133],
       [ 136],
       [ 187],
       [  62],
       [ 160],
       [ 311],
       [  43],
       [  78],
       [ 278],
       [ 129],
       [ 127],
       [ 100],
       [ 162],
       [ 227],
       [ 300],
       [ 162],
       [ 296],
       [  91],
       [ 231],
       [ 133],
       [ 122],
       [ 280],
       [ 267],
       [ 120],
       [ 200],
       [ 122],
       [ 147],
       [  45],
       [ 136],
       [ 151],
       [ 136],
       [  91],
       [ 300],
       [  96],
       [ 127],
       [  80],
       [ 164],
       [ 187],
       [ 171],
       [  96],
       [ 140],
       [ 113],
       [ 133],
       [ 171],
       [  91],
       [ 118],
       [ 118],
       [  96],
       [ 102],
       [ 109],
       [ 113],
       [ 171],
       [ 220],
       [  80],
       [ 116],
       [ 242],
       [ 265],
       [ 291],
       [ 196],
       [ 125],
       [  89],
       [ 147],
       [ 160],
       [ 153],
       [ 122],
       [ 238],
       [ 111],
       [ 153],
       [ 169],
       [  58],
       [ 253],
       [ 335],
       [ 265],
       [ 216],
       [ 142],
       [ 136],
       [ 216],
       [ 133],
       [ 105],
       [ 236],
       [ 260],
       [ 107],
       [  45],
       [ 160],
       [  89],
       [ 327],
       [ 240],
       [  93],
       [ 156],
       [ 111],
       [  19],
       [ 253],
       [  98],
       [ 164],
       [ 196],
       [ 173],
       [ 175],
       [ 125],
       [ 205],
       [ 214],
       [ 125],
       [ 245],
       [ 156],
       [ 173],
       [  80],
       [ 209],
       [ 269],
       [ 107],
       [ 169],
       [ 149],
       [ 158],
       [ 164],
       [ 267],
       [ 173],
       [ 131],
       [  58],
       [ 142],
       [ 169],
       [ 258],
       [  93],
       [ 245],
       [ 167],
       [ 173],
       [ 191],
       [ 113],
       [ 309],
       [ 278],
       [  96],
       [ 127],
       [ 102],
       [  64],
       [ 140],
       [ 225],
       [ 147],
       [ 133],
       [ 136],
       [ 144],
       [ 207],
       [ 282],
       [  91],
       [ 175],
       [ 153],
       [ 280],
       [ 122],
       [ 120],
       [  98],
       [ 167],
       [  39],
       [ 107],
       [ 113],
       [ 153],
       [ 113],
       [ 129],
       [ 205],
       [ 234],
       [ 109],
       [ 220],
       [  60],
       [ 309],
       [ 253],
       [ 196],
       [ 156],
       [ 127],
       [ 296],
       [ 236],
       [ 171],
       [ 198],
       [ 160],
       [ 122],
       [ 316],
       [  75],
       [ 271],
       [  78],
       [ 111],
       [ 158],
       [ 156],
       [ 167],
       [  93]])

In [24]:
# We are converting the prediction from list into a dataframe and then to a csv giving the column name as Insulin(which is predicted)
out = pd.DataFrame(prediction,columns=['Insulin'])
out.to_csv('diabetespredresult.csv',index=False,header=True)
out

     Insulin
0        222
1         69
2        300
3         78
4        198
..       ...
763      111
764      158
765      156
766      167
767       93

[768 rows x 1 columns]

In [25]:
# Here we are creating a two new variables df1 and df2 and reading it with predicted insulin and test2 results
df1 = pd.read_csv('diabetestest2.csv',encoding='latin1')
df2 = pd.read_csv('diabetespredresult.csv',encoding='latin1')

In [26]:
# we are appending df1 and df2 using concat function and printing the three columns given 
data = pd.concat([df1,df2],axis=1)
data = data[['Glucose','Insulin','Output']]

In [27]:
# we are reading diabetesnonzero csv" creating a list by concatenating df3 and data
df3 = pd.read_csv('diabetesNonzero.csv',encoding='latin1')
data

     Glucose  Insulin  Output
0        148      222       2
1         85       69       0
2        183      300       2
3         89       78       0
4        137      198       2
..       ...      ...     ...
763      101      111       1
764      122      158       1
765      121      156       1
766      126      167       1
767       93       93       1

[768 rows x 3 columns]

In [28]:
list1 = [data,df3]
data  = pd.concat(list1)
data

     Glucose  Insulin  Output
0        148      222       2
1         85       69       0
2        183      300       2
3         89       78       0
4        137      198       2
..       ...      ...     ...
389      181      510       2
390      128      110       1
391       88       16       0
392      101      180       1
393      121      112       1

[1162 rows x 3 columns]

In [34]:
data.to_csv('diabetesmerge.csv',index=False)
data = pd.read_csv('diabetesmerge.csv',encoding= 'latin1')
data

      Glucose  Insulin  Output
0         148      222       2
1          85       69       0
2         183      300       2
3          89       78       0
4         137      198       2
...       ...      ...     ...
1157      181      510       2
1158      128      110       1
1159       88       16       0
1160      101      180       1
1161      121      112       1

[1162 rows x 3 columns]

We are importing model selection and train test split from sklearn and we are doing prediction for output as train and test columns same as we done for Insulin from train and test columns with split ratio of 0.2 means we are splitting the data into train:test = 8:2

In [35]:
from sklearn.model_selection import train_test_split as tts
splitratio = 0.2
train , test = tts(data,test_size = splitratio, random_state = 100)

In [36]:
x_train = train[[x for x in train.columns if x not in ['Output']]]
y_train = train[['Output']]
x_test = test[[x for x in test.columns if x not in ['Output']]]
y_test = test[['Output']]

We are importing below models from sklearn for various kinds of prediction to check which model provides more accuracy

In [43]:
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

We are checking accuracy score for each method for the above prediction just to get a proper idea and check which method is accurate for the above model

In [44]:
model = KNeighborsClassifier()
model.fit(x_train,y_train)
prediction = model.predict(x_test)
accuracy_score(y_test,prediction)

C:\Users\manoh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.9828326180257511

In [39]:
model = LogisticRegression()
model.fit(x_train,y_train)
prediction = model.predict(x_test)
accuracy_score(y_test,prediction)

C:\Users\manoh\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.9141630901287554

In [40]:
model = GaussianNB()
model.fit(x_train,y_train)
prediction = model.predict(x_test)
accuracy_score(y_test,prediction

C:\Users\manoh\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.944206008583691

# GUI

Now we create a window for enter the input values of Glucose and Insulin using Tkinter. We create two labels and a button, give them measurement values and border lengths.

In [58]:
import tkinter as tk
import pandas as pd
def saveinfo():
    valor = int(E1.get())
    valor1 = int(E2.get())
    list = [[valor,valor1]]
    df = pd.DataFrame(list)
    df.to_csv("newdf.csv")
    top.destroy()

In [ ]:
top = tk.Tk()
top.title("1st Input for Glucose and Insulin")
L1 = tk.Label(top,text = "Glucose Value :")
L1.place(x=12,y=12)
E1 = tk.Entry(top,bd=6)
E1.place(x=300,y=10)
L2=tk.Label(top,text="Insulin value :")
L2.place(x=12,y=60)
E2=tk.Entry(top,bd=5)
E2.place(x=300,y=50)
b=tk.Button(top,text="Submit",command=saveinfo)
b.place(x=12,y=100)
top.geometry('600x600')
top.mainloop()

We are creating a new variable called new_df which is newdf file consisting of glucose and insulin and glucose values not equal to zero which we created in tkinter from a list.

Now we do the prediction using Logistic Regression

In [ ]:
new_df=pd.read_csv('newdf.csv',encoding='latin1',names=["Glucose","Insulin"])
new_df=new_df[new_df["Glucose"]!=0]
prediction = model.predict(new_df)
model1=LogisticRegression()
model1.fit(X_train,y_train)
prediction1 = model1.predict(new_df)

In [ ]:
model2 = GaussianNB()
model2.fit(x_train,y_train)
prediction2 = model2.predict(new_df)

We are creating three variables for three models which gives the probability of each model. "predict_proba" provides the probability of a model

In [ ]:
new = model.predict_proba(new_df)[:]
new1 = model1.predict_proba(new_df)[:]
new2 = model2.predict_proba(new_df)[:]
message = ""

Now in the below two cells We are creating a message based on the prediction by K-neighbour classifier where we produce a message and based on the probability we will explain the diabetic status

In [ ]:
if prediction == 0:
    message = "Normal level"
elif prediction == 1:
    message = "Pre-diabetic"
elif prediction == 2:
    message = "Diabetic"

In [ ]:
proba = int(((new[:,2])) * 100)
result1 = "Your K-neigbour Diabetic Status is " + message + ". You have " +format(proba)+ " % chance of being Diabetic ."

Now in the below two cells We are creating a message based on the prediction by Logistic Regression where we produce a message and based on the probability we will explain the diabetic status

In [ ]:
if prediction1 == 0:
    message = 'Normal'
elif prediction1 == 1:
    message = "Pre-diabetic"
elif prediction1 == 2:
    message = "Diabetic"

In [ ]:
proba1 = int(((new1[:,2])) * 100)
result2 = "Your Diabetic Status based on Logistic Regression is " + message + ". You have " +format(proba1)+ " % chance of being Diabetic ."

Now in the below two cells We are creating a message based on the prediction by Gaussian NB(Naive Bayes) where we produce a message and based on the probability we will explain the diabetic status

In [ ]:
if prediction2 == 0:
    message = 'Normal'
elif prediction2 == 1:
    message = "Pre-diabetic"
elif prediction2 == 2:
    message = "Diabetic"

In [ ]:
proba2 = int(((new2[:,2])) * 100)
result3 = "Your Diabetic Status based on Naive Bayes is " + message + ". You have " +format(proba2)+ " % chance of being Diabetic ."

We are using train_test_split and splitting data into train and test based on columns other than "Output" and fitting models using the below three methods

In [ ]:
from sklearn.model_selection import train_test_split
splitRatio = 0.2
train, test = train_test_split(data,test_size = SplitRatio, random_state = 120)
x_train = train[[x for x in train.columns if x not in ["Output"]]]
y_train = train[['Output']]
x_test = test[[x for x in test.columns if x not in ['Output']]]
y_test = test[['Output']]

In [ ]:
model = KNeighboursClassifier()
model.fit(x_train,y_train)

In [ ]:
model1 = LogisticRegression()
model1.fit(x_train,y_train)

In [ ]:
model2 = GaussianNB()
model2.fit(x_train,y_train)

In [ ]:
prediction = model.predict(x_test)

Now we are creating a window using tkinter for printing accuracy scores(train and test accuracies) for each ML method we made the prediction on.

In [ ]:
res.title("OUTPUT")
var=tk.StringVar()
var1=tk.StringVar()
var2=tk.StringVar()
var3=tk.StringVar()
var4=tk.StringVar()
var5=tk.StringVar()
var6=tk.StringVar()
var7=tk.StringVar()
var8=tk.StringVar()
value1="K-Neighbor Train accuracy is : "+ str(model.score(X_train, y_train))
value2="K-Neighbor Test accuracy is : "+ str(model.score(X_test, y_test))
value3="Logistic Regression Train accuracy is : "+ str(model1.score(X_train, y_train))
value4="Logistic Regression Test accuracy is : "+ str(model1.score(X_test, y_test))
value5="Gaussian NB Train accuracy is : "+ str(model2.score(X_train, y_train))
value6="Gaussian NB Test accuracy is : "+ str(model2.score(X_test, y_test))

In [ ]:
lab=tk.Label(res,textvariable=var1)
lab.place(x=10,y=10)
lab.config(font=("Courier", 14))
lab1=tk.Label(res,textvariable=var2)
lab1.place(x=10,y=70)
lab1.config(font=("Courier", 14))
lab2=tk.Label(res,textvariable=var3)
lab2.place(x=10,y=140)
lab2.config(font=("Courier", 14))
lab3=tk.Label(res,textvariable=var4)
lab3.place(x=10,y=210)
lab3.config(font=("Courier", 14))
lab4=tk.Label(res,textvariable=var5)
lab4.place(x=10,y=280)
lab4.config(font=("Courier", 14))
lab5=tk.Label(res,textvariable=var6)
lab5.place(x=10,y=350)
lab5.config(font=("Courier", 14))
lab6=tk.Label(res,textvariable=var)
lab6.place(x=10,y=420)
lab6.config(font=("Forte", 14))
lab7=tk.Label(res,textvariable=var7)
lab7.place(x=10,y=480)
lab7.config(font=("Forte", 14))
lab8=tk.Label(res,textvariable=var8)
lab8.place(x=10,y=520)
lab8.config(font=("Forte", 14))
var.set(result1)
var1.set(value1)
var2.set(value2)
var3.set(value3)
var4.set(value4)
var5.set(value5)
var6.set(value6)
var7.set(result2)
var8.set(result3)
res.geometry('1000x500')
res.mainloop()

Now we are plotting the accuracy scores by converting them into a list and plot using seaborn

In [ ]:
list1=[model.score(X_test, y_test),model1.score(X_test, y_test),model2.score(X_test, y_test)]
plot=pd.DataFrame(list1,columns=["TestValues"])
sb.set_style('whitegrid')
sb.distplot(plot["TestValues"],kde=False,color='darkred',bins=30)

In [ ]:
list3=[(Proba),(Proba1),(Proba2)]
plot3=pd.DataFrame(list3,columns=["TestValues"])
sb.set_style('whitegrid')
sb.distplot(plot3["TestValues"],kde=False,color='darkred',bins=30)

Now we import os and remove newdf.csv which we imported in tkinter

In [ ]:
import os 
os.remove("newdf.csv")